
body {
  background-color: #000;
}

footer {
  background-color: #000;
}

.intro {
  background: -webkit-linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,1.0) 90%), url("../img/earth.jpg") no-repeat scroll center top / cover;
  background:    -moz-linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,1.0) 90%), url("../img/earth.jpg") no-repeat scroll center top / cover;
  background:      -o-linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,1.0) 90%), url("../img/earth.jpg") no-repeat scroll center top / cover;
  background:         linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.7) 70%, rgba(0,0,0,1.0) 90%), url("../img/earth.jpg") no-repeat scroll center top / cover;
  color: #FFF;
  float: left;
  font-family: 'Open Sans', sans-serif;
  height: 480px;
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.intro nav {
  background: transparent;
  margin: 0 auto;
  padding: 16px 0 16px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.intro nav a {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
  border-bottom: none;
}

.intro nav a:hover {
  color: #38F;
}

.intro h1,
.intro h2,
.intro h3{
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.intro h1 {
  font-weight: 300;
  font-size: 2.75em;
  line-height: 1.0em;
}

.intro h2 {
  font-size: 1.50em;
  font-weight: 300;
}

.intro h2 b {
  font-weight: 400;
}

.intro h3 {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25em;
}

.intro table {
  bottom: 0px;
  left: 0;
  position: absolute;
  vertical-align: bottom;
  width: 100%;
}

.intro td {
  color: white;
  text-align: center;
  width: 20%;
}

.intro td img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


