
{% extends "base.html" %}

    {% block content %}
    <div class="content" id="aboutme">
      <section id="about">
        <h2>Software Dev.</h2>
        <p>
          Software development is a passion I've take up as a career. I focus
          on networking, scalability, reliablity, and security. But, I've worked
          on security projects, scaling deployment infrastructure, web performance
          optimization, APIs, general web development, iOS games, PC games in
          Unity3D and Gamebryo, and data infrastructure.
        </p>

        <p>
          <a href="https://github.com/scottgreenup">Checkout some of my latest projects</a>
          including <a href="https://github.com/scottgreenup/website">the website</a>
          your currently eyeballing which I'm building with Django.
        </p>

        <h2>Security.</h2>
        <p>
          I've started to focus on web security. I've been lucky enough to have
          done courses at university which introduced me to amazing people who've
          taught me: how to hack, cryptography, web security practices, and
          empirical security analysis.
        </p>
        <p>
          I'm currently working at <a href="http://sigmaprime.io">Sigma Prime</a>
          mainly working on projects tied to Ethereum, and on blockchain projects.
        </p>

        <h2>Traveller.</h2>
        <p>
          I love to travel. I am hooked. I've been to New Zealand, Japan, and
          I've traveled the United States. New Zealand was absolutely stunning and
          I would highly recommend visiting the South Island; I distinctly
          remember a moment where we were driving along and I forgot to take
          photos because of the stunning mountain ranges that laid before us.
        </p>

        <p>
          Japan is a country with a deep and fascinating culture and has
          delicious food. I can not wait for a second-trip to Japan; I could go
          back to Tokyo again and again. The United States has a diverse
          experience in both nature and people. I travelled up and down the
          East and West coast, and am amazed how diverse the country is.
        </p>
      </section>

      <aside id="certs">
        <h1>Education</h1>
        <div class="experience">
          <h4 id="company">University of Sydney</h4>
          <p id="role">Bachelor of IT (Computer Science)</p>
          <p id="period">2013&ndash;2017</p>
        </div>

        <div class="experience">
          <h4 id="company">Academy of Interactive Entertainment</h4>
          <p id="role">Advanced Diploma in Games Programming</p>
          <p id="period">2011&ndash;2012</p>
        </div>

        <hr />

        <h1>Experience</h1>

        <div class="experience">
          <h4 id="company">Sigma Prime</h4>
          <p id="role">Security Engineer</p>
          <p id="period">Jul 2017&ndash;Present</p>
        </div>

        <div class="experience">
          <h4 id="company">Facebook</h4>
          <p id="role">Production Engineering Intern</p>
          <p id="period">Jan 2017&ndash;Mar 2017</p>
        </div>

        <div class="experience">
          <h4 id="company">Google</h4>
          <p id="role">Software Engineering Intern</p>
          <p id="period">Nov 2015&ndash;Feb 2016</p>
        </div>

        <div class="experience">
          <h4 id="company">Facebook</h4>
          <p id="role">Production Engineering Intern</p>
          <p id="period">Aug 2015&ndash;Nov 2015</p>
        </div>

        <div class="experience">
          <h4 id="company">Freelancer.com</h4>
          <p id="role">Software Engineering Intern</p>
          <p id="period">Nov 2013&ndash;Mar 2015</p>
        </div>

        <div class="experience">
          <h4 id="company">Flat Earth Games</h4>
          <p id="role">Games Development Intern</p>
          <p id="period">Dec 2012&ndash;Mar 2013</p>
        </div>
      </aside>
    </div>
    {% endblock %}
