{% extends "base.html" %}
    {% block content %}
    <div class="content">
      <section>
        <h1>Engineering.</h1>
        <p>
          Software development is a passion I've take up as a career. I focus
          on networking, scalability, reliablity, and security. But, I've worked
          on security projects, scaling deployment infrastructure, web
          performance optimization, APIs, general web development, iOS games, PC
          games in Unity3D and Gamebryo, and data infrastructure.
        </p>

        <p>
          Check out some of my <a href="https://github.com/scottgreenup">latest projects</a>
          including <a href="https://github.com/scottgreenup/website">this website</a>
          your currently eyeballing which I've built in Django.
        </p>

        <h1>Security.</h1>
        <p>
          I've started to focus on web security. I've been lucky enough to have
          done courses at university which introduced me to amazing people who've
          introduced me to everything from cryptography to hacking.
        </p>
        <p>
          I'm currently working at <a href="http://sigmaprime.io">Sigma Prime</a>
          mainly working on projects tied to Ethereum, and other blockchains. We
          also do network and web security.
        </p>

        <h1>Traveller.</h1>
        <p>
          I love to travel. I am hooked. New Zealand is absolutely stunning and
          you owe it to yourself to visit the South Island. I distinctly
          remember one moment in which we were driving along and all of us sat
          in awe, we forgot about photos, we stopped talking, we just took the
          beautiful landscape in. A stunning mountain range laid before us, with
          layer, after layer of snow-capped mountains enveloping our
          surroundings. the gorgeous green grass, and a spectacular sun was
          pitched in the bold blue sky... It was jaw-dropping.
        </p>
      </section>

      <aside id="certs">
        <h1>Education</h1>
        <div class="experience">
          <h4 id="company">University of Sydney</h4>
          <p id="role">Bachelor of IT (Computer Science)</p>
          <p id="period">2013&ndash;2017</p>
        </div>

        <div class="experience">
          <h4 id="company">Academy of Interactive Entertainment</h4>
          <p id="role">Advanced Diploma in Games Programming</p>
          <p id="period">2011&ndash;2012</p>
        </div>

        <hr />

        <h1>Experience</h1>
        <div class="experience">
          <h4 id="company">Sigma Prime</h4>
          <p id="role">Security Engineer</p>
          <p id="period">Jul 2017&ndash;Present</p>
        </div>

        <div class="experience">
          <h4 id="company">Facebook</h4>
          <p id="role">Production Engineering Intern</p>
          <p id="period">Jan 2017&ndash;Mar 2017</p>
        </div>

        <div class="experience">
          <h4 id="company">Google</h4>
          <p id="role">Software Engineering Intern</p>
          <p id="period">Nov 2015&ndash;Feb 2016</p>
        </div>

        <div class="experience">
          <h4 id="company">Facebook</h4>
          <p id="role">Production Engineering Intern</p>
          <p id="period">Aug 2015&ndash;Nov 2015</p>
        </div>

        <div class="experience">
          <h4 id="company">Freelancer.com</h4>
          <p id="role">Software Engineering Intern</p>
          <p id="period">Nov 2013&ndash;Mar 2015</p>
        </div>

        <div class="experience">
          <h4 id="company">Flat Earth Games</h4>
          <p id="role">Games Development Intern</p>
          <p id="period">Dec 2012&ndash;Mar 2013</p>
        </div>
      </aside>
    </div>
    {% endblock %}
