
{% extends "base.html" %}

    {% block content %}
    <div class="content" id="aboutme">
      <section id="about">
        <h2>Programmer.</h2>
        <p>I've taken up engineering as my career and passion. I am still at student at the <a href="http://sydney.edu.au/">University of Sydney</a>, completing a <a href="http://sydney.edu.au/courses/bachelor-of-information-technology">Bachelor of Information Technology (Computer Science)</a>. I have a keen interest in networking applications; including large-scale systems, multiplayer games, and network security. I've experienced working on teams that concentrated on web security, web performance, backend service development, production engineering and games development.</p>
        <p><a href="http://github.com/scottgreenup">Checkout some of my latest projects</a></p>

        <h2>Traveller.</h2>
        <p>I love to travel. I am hooked. I've been to New Zealand, Japan, and I've traveled the United States. New Zealand was absolutely stunning and I would highly recommend visiting the <a href="https://goo.gl/maps/Kh4LVRZ5FJU2">South Island</a>; I distinctly remember a moment where we were driving along and forgot to take photos because of the breathtaking view of the mountain ranges that laid before us.</p>
        <p>Japan is a country with a deep and fascinating culture and has delicious food. I can not wait for a second-trip to Japan; I could go back to Tokyo again and again. The United States has a diverse experience in both nature and people. I travelled up and down the national parks of California and was amazed by the majesty of nature.</p>

        <h2>Games Dev.</h2>
        <p>I relish in the creation of 3D games. A game can cover every discipline of software engineering; including AI, networking, graphics, audio, data structures, design patterns, complex algorithms, optimisation techniques, data storage, security, and more. I am currently building a <a href="https://github.com/scottgreenup/ProjectImperial">3D game engine</a> as a side-project. I also have a intrigued by the demoscene culture and am looking to get more involved with this engine.</p>

        <h2>Security enthusiast.</h2>
        <p>The internet is colossal and it is growing at stupendous rate. Security is becoming a more prevalent and dire requirement due to the growing amount of data being stored online. It has become an interesting area and concerns almost every website. It's amazing what comes out of the wood-work. I personally have taking an interest in security and I believe that all engineers should, as it can concern various levels of a project in different ways.</p>
      </section>

      <aside id="certs">
        <h2>Education</h2>
        <h4>Bach. IT in Computer Science</h4>
        <p>University of Sydney<br />
        2013&ndash;present</p>

        <h4>Adv. Dip. in Games Programming</h4>
        <p>Academy of Interactive Entertainment<br />
        2011&ndash;2012</p>

        <h4>Certificate II - Information Technology</h4>
        <p>Academy of Interactive Entertainment<br />
        2009</p>

        <h4>Certificate II - Creative Media</h4>
        <p>Academy of Interactive Entertainment<br />
        2009</p>

        <h2>Experience</h2>
        <h4>Internship at Google (MTV)</h4>
        <p>Software Engineer<br />
        Nov 2015&ndash;Feb 2016</p>

        <h4>Internship at Facebook</h4>
        <p>Production Engineer<br />
        Aug 2015&ndash;Nov 2015</p>

        <h4>Internship at Freelancer.com</h4>
        <p>Software Engineer<br />
        Nov 2013&ndash;Mar 2015</p>

        <h4>Internship at Flat Earth Games</h4>
        <p>Games Developer<br />
        Dec 2012&ndash;Mar 2013</p>
      </aside>
    </div>
    {% endblock %}
