<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/header-normal.css">
    <link rel="stylesheet" href="/static/css/about.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body>

    <header class="content">
      <div class="header-container">
      <a href="/"><h1>Scott Greenup</h1></a>
        <nav>
          <a href="/about">About Me</a>
          <a href="/blog">Blog</a>
        </nav>
      </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <a href="https://au.linkedin.com/in/scott-greenup-84719b60">LinkedIn</a>
      <a href="http://facebook.com/scottgreenup">Facebook</a>
      <a href="http://github.com/scottgreenup">GitHub</a>
      <a href="http://flickr.com/scottgreenup">Flickr</a>
    </footer>

    <div id="copyright">
      <p>Scott Greenup 2016</p>
      <p>Icons designed by <a href="http://www.freepik.com/">Freepik</a> and distributed by <a href="http://www.flaticon.com/">Flaticon</a></p>
      <p>Image from <a href="https://www.nasa.gov/image-feature/space-station-flyover-of-the-mediterranean/">NASA</a></p>
    </div>

  </body>
</html>
