<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/pygments/base.css">
    <link rel="stylesheet" href="/static/css/pygments/github.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body>

    <header>
        <a href="/"><h1>Scott Greenup</h1></a>
        <h2>Holder of Coding Trinkets</h2>
        <nav>
          <a href="/about">About Me</a>
          <a href="/blog">Blog</a>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <a href="https://au.linkedin.com/in/scott-greenup-84719b60">LinkedIn</a>
      <a href="http://facebook.com/scottgreenup">Facebook</a>
      <a href="http://github.com/scottgreenup">GitHub</a>
      <a href="http://flickr.com/scottgreenup">Flickr</a>
      <a href="http://twitter.com/xathereal">Twitter</a>
    </footer>

    <div id="copyright">
      <p>Scott Greenup &copy; 2016-2017</p>
    </div>

  </body>
</html>
