<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Greenup</title>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/intro.css">
    <link rel="stylesheet" href="/static/css/header-normal.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body>

    <div class="intro">

      <nav>
        <a href="/about">About Me</a>
        <a href="/blog">Blog</a>
      </nav>

      <h1>Scott Greenup</h1>
      <h2>Software Developer</h2>

      <table>
        <tr>
          <td><img src="/static/img/icon/browser.png" /></td>
          <td><img src="/static/img/icon/technology.png" /></td>
          <td><img src="/static/img/icon/game-controller.png" /></td>
          <td><img src="/static/img/icon/security.png" /></td>
          <td><img src="/static/img/icon/worldwide.png" /></td>
        </tr>
        <tr>
          <td><h3>Web Dev</h3></td>
          <td><h3>Systems Dev</h3></td>
          <td><h3>Games Dev</h3></td>
          <td><h3>Security</h3></td>
          <td><h3>Traveller</h3></td>
        </tr>
      </table>
    </div>

    <footer>
      <a href="https://au.linkedin.com/in/scott-greenup-84719b60">LinkedIn</a>
      <a href="http://facebook.com/scottgreenup">Facebook</a>
      <a href="http://github.com/scottgreenup">GitHub</a>
      <a href="http://flickr.com/scottgreenup">Flickr</a>
    </footer>

    <div id="copyright">
      <p>Scott Greenup 2016</p>
      <p>Icons designed by <a href="http://www.freepik.com/">Freepik</a> and distributed by <a href="http://www.flaticon.com/">Flaticon</a></p>
      <p>Image from <a href="https://www.nasa.gov/image-feature/space-station-flyover-of-the-mediterranean/">NASA</a></p>
    </div>

    <div style="margin: 0 auto; width: 100%; text-align: center;">
      <p>I love Kanykey. Она моя капуста.</p>
    </div>

  </body>
</html>
